<h1 xmlns="http://www.w3.org/1999/html">Listing users</h1>

<p>
  <br>
</p>

<div class="row roundedthing ">
  <% @users.each do |user| %>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </h3>
          </div>
          <div class="panel-body">
            <%= link_to user.username, user %>
          </div>
        </div>
      </div>
  <% end %>
</div>
