<h2>List of ratings</h2>


<p>
  Total of <%= @ratings.count %> ratings given
</p>

<table class="table">
  <thead>
  <tr>
    <th>Beer</th>
    <th>Score</th>
    <th>User</th>
  </tr>
  </thead>

  <tbody>
  <ul>
    <% @ratings.each do |rating| %>
        <th> <%= rating %> <%= link_to rating.user.username, rating.user %> </th>
    <% end %>
  </ul>

  </tbody>
</table>

<%= link_to 'New Rating', new_rating_path, class:'btn btn-primary' if current_user %>

